.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        ". header header header ."
        ". ads kaomojis adss ."
        ". ads footer . .";
    grid-gap: 1rem
}

.header {
    grid-area: header;
}

.kaomojis {
    grid-area: kaomojis;
    text-align: center;
    padding: 2rem;
}

.ads {
    grid-area: ads;
}

.adss {
    grid-area: adss;
}

.footer {
    grid-area: footer;
}