.grid-container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header header"
        ". kaomojis ."
        "footer footer footer";
    grid-gap: 1rem
}

.header {
    grid-area: header;
}

.kaomojis {
    grid-area: kaomojis;
    text-align: center;
    padding: 2rem;
}

.ads {
    grid-area: ads;
    width: 160px; 
    height: 600px; 
    color: #fff; 
    line-height: 600px; 
    text-align: center;
}

.anuncios {
    grid-area: anuncios;
    width: 160px; 
    height: 600px; 
    color: #fff; 
    line-height: 600px; 
    text-align: center;
}

.footer {
    grid-area: footer;
}
